---
import Button from '~/components/ui/Button.astro';

---
<section
  class="fixed z-10 w-full border-b relatve bg-white border-gray-200 backdrop-blur-2xl lg:bg-white/0"
>
  <div class="relative w-full mx-auto max-w-7xl">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full px-8 py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32"
    >
      <div
        class="flex flex-row items-center justify-between text-gray-800 lg:justify-start"
      >
        <a
          href="/"
          title="link to page"
          aria-label="your label"
          class="lg:pr-8"
        >
          <div class="inline-flex items-center gap-3">
            <svg
              class="h-10"
              viewBox="50 20 58 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              </clipPath><clipPath id="03f595c113"><path d="M 70.019531 27.796875 L 84 27.796875 L 84 62 L 70.019531 62 Z M 70.019531 27.796875 " clip-rule="nonzero"/></clipPath><clipPath id="d024204ed8"><path d="M 67.367188 54 L 109.515625 54 L 109.515625 77.945312 L 67.367188 77.945312 Z M 67.367188 54 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#a1a780eaa0)"><path fill="#004aad" d="M 106.78125 61.316406 L 88.246094 61.316406 C 87.691406 62.578125 86.425781 63.445312 84.957031 63.429688 C 83.824219 63.417969 82.828125 62.871094 82.191406 62.039062 C 82.09375 61.910156 82.183594 61.730469 82.347656 61.730469 L 84.808594 61.738281 L 85.9375 59.902344 L 84.808594 58.058594 L 82.347656 58.050781 C 82.191406 58.050781 82.101562 57.871094 82.199219 57.742188 C 82.859375 56.890625 83.890625 56.339844 85.054688 56.355469 C 86.476562 56.378906 87.691406 57.242188 88.238281 58.460938 L 103.917969 58.460938 L 103.917969 42.917969 L 88.867188 32.980469 L 73.804688 42.917969 L 73.804688 58.621094 L 70.941406 58.621094 L 70.941406 41.375 L 88.867188 29.546875 L 106.78125 41.375 Z M 106.78125 61.316406 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#004aad" d="M 96.484375 55.285156 L 100.742188 51.027344 L 100.742188 55.285156 Z M 96.484375 55.285156 " fill-opacity="1" fill-rule="nonzero"/><path fill="#3d4145" d="M 103.4375 44.949219 L 90.398438 57.992188 L 92.414062 57.992188 L 92.414062 56.964844 C 92.414062 56.875 92.488281 56.796875 92.578125 56.796875 C 92.667969 56.796875 92.742188 56.875 92.742188 56.964844 L 92.742188 57.992188 L 93.867188 57.992188 L 93.867188 56.964844 C 93.867188 56.875 93.941406 56.796875 94.03125 56.796875 C 94.121094 56.796875 94.199219 56.875 94.199219 56.964844 L 94.199219 57.992188 L 95.320312 57.992188 L 95.320312 56.964844 C 95.320312 56.875 95.398438 56.796875 95.488281 56.796875 C 95.578125 56.796875 95.652344 56.875 95.652344 56.964844 L 95.652344 57.992188 L 96.777344 57.992188 L 96.777344 56.964844 C 96.777344 56.875 96.851562 56.796875 96.941406 56.796875 C 97.03125 56.796875 97.105469 56.875 97.105469 56.964844 L 97.105469 57.992188 L 98.230469 57.992188 L 98.230469 56.964844 C 98.230469 56.875 98.304688 56.796875 98.394531 56.796875 C 98.484375 56.796875 98.558594 56.875 98.558594 56.964844 L 98.558594 57.992188 L 99.683594 57.992188 L 99.683594 56.964844 C 99.683594 56.875 99.757812 56.796875 99.847656 56.796875 C 99.9375 56.796875 100.011719 56.875 100.011719 56.964844 L 100.011719 57.992188 L 101.136719 57.992188 L 101.136719 56.964844 C 101.136719 56.875 101.210938 56.796875 101.300781 56.796875 C 101.390625 56.796875 101.46875 56.875 101.46875 56.964844 L 101.46875 57.992188 L 103.484375 57.992188 L 103.484375 55.972656 L 102.457031 55.972656 C 102.367188 55.972656 102.292969 55.898438 102.292969 55.808594 C 102.292969 55.71875 102.367188 55.644531 102.457031 55.644531 L 103.484375 55.644531 L 103.484375 54.519531 L 102.457031 54.519531 C 102.367188 54.519531 102.292969 54.445312 102.292969 54.355469 C 102.292969 54.265625 102.367188 54.191406 102.457031 54.191406 L 103.484375 54.191406 L 103.484375 53.066406 L 102.457031 53.066406 C 102.367188 53.066406 102.292969 52.992188 102.292969 52.902344 C 102.292969 52.8125 102.367188 52.738281 102.457031 52.738281 L 103.484375 52.738281 L 103.484375 51.613281 L 102.457031 51.613281 C 102.367188 51.613281 102.292969 51.539062 102.292969 51.449219 C 102.292969 51.359375 102.367188 51.28125 102.457031 51.28125 L 103.484375 51.28125 L 103.484375 50.160156 L 102.457031 50.160156 C 102.367188 50.160156 102.292969 50.082031 102.292969 49.992188 C 102.292969 49.902344 102.367188 49.828125 102.457031 49.828125 L 103.484375 49.828125 L 103.484375 48.703125 L 102.457031 48.703125 C 102.367188 48.703125 102.292969 48.628906 102.292969 48.539062 C 102.292969 48.449219 102.367188 48.375 102.457031 48.375 L 103.484375 48.375 L 103.484375 47.25 L 102.457031 47.25 C 102.367188 47.25 102.292969 47.175781 102.292969 47.085938 C 102.292969 46.996094 102.367188 46.921875 102.457031 46.921875 L 103.484375 46.921875 L 103.484375 44.949219 Z M 100.859375 50.734375 C 100.980469 50.789062 101.0625 50.902344 101.0625 51.035156 L 101.0625 55.292969 C 101.0625 55.472656 100.921875 55.613281 100.742188 55.613281 L 96.484375 55.613281 C 96.347656 55.613281 96.234375 55.53125 96.183594 55.414062 C 96.167969 55.375 96.160156 55.328125 96.160156 55.285156 C 96.160156 55.203125 96.191406 55.121094 96.257812 55.050781 L 100.515625 50.796875 C 100.597656 50.714844 100.742188 50.683594 100.859375 50.734375 Z M 100.859375 50.734375 " fill-opacity="1" fill-rule="nonzero"/><g clip-path="url(#03f595c113)"><path fill="#3d4145" d="M 78.984375 35.5 L 76.121094 37.386719 L 76.121094 33.640625 L 78.984375 33.640625 Z M 82.761719 27.816406 C 82.242188 27.808594 81.734375 27.816406 81.214844 27.816406 C 81.082031 27.816406 80.984375 27.875 80.925781 27.988281 C 80.773438 28.265625 80.378906 28.746094 79.949219 28.746094 C 79.394531 28.761719 79.027344 28.050781 78.511719 28.027344 C 77.445312 27.988281 76.382812 28.035156 75.320312 28.027344 C 73.203125 28.125 71.488281 28.917969 70.09375 33.011719 C 70.070312 33.09375 70.019531 33.214844 70.117188 33.257812 C 70.507812 33.429688 72.253906 30.460938 74.710938 31.007812 C 76.113281 31.316406 76.136719 32.734375 76.121094 33.289062 L 78.992188 33.289062 C 78.992188 32.867188 78.992188 32.449219 78.992188 32.027344 C 79 31.59375 79.132812 31.21875 79.46875 30.925781 C 79.703125 30.726562 80.0625 30.695312 80.339844 30.820312 C 80.609375 30.949219 80.757812 31.183594 80.894531 31.421875 C 80.976562 31.570312 81.089844 31.640625 81.261719 31.632812 C 81.757812 31.625 82.25 31.632812 82.746094 31.632812 C 83.097656 31.632812 83.335938 31.390625 83.335938 31.039062 C 83.335938 30.164062 83.335938 29.285156 83.335938 28.417969 C 83.34375 28.070312 83.105469 27.824219 82.761719 27.816406 Z M 76.121094 42.132812 L 76.980469 42.132812 C 77.078125 42.132812 77.160156 42.214844 77.160156 42.3125 C 77.160156 42.410156 77.078125 42.492188 76.980469 42.492188 L 76.121094 42.492188 L 76.121094 43.261719 L 77.65625 43.261719 C 77.761719 43.261719 77.835938 43.347656 77.835938 43.441406 C 77.835938 43.539062 77.753906 43.625 77.65625 43.625 L 76.121094 43.625 L 76.121094 44.394531 L 76.980469 44.394531 C 77.078125 44.394531 77.160156 44.476562 77.160156 44.574219 C 77.160156 44.671875 77.078125 44.753906 76.980469 44.753906 L 76.121094 44.753906 L 76.121094 45.527344 L 77.65625 45.527344 C 77.761719 45.527344 77.835938 45.609375 77.835938 45.707031 C 77.835938 45.804688 77.753906 45.886719 77.65625 45.886719 L 76.121094 45.886719 L 76.121094 46.660156 L 76.980469 46.660156 C 77.078125 46.660156 77.160156 46.742188 77.160156 46.839844 C 77.160156 46.9375 77.078125 47.019531 76.980469 47.019531 L 76.121094 47.019531 L 76.121094 47.789062 L 77.65625 47.789062 C 77.761719 47.789062 77.835938 47.871094 77.835938 47.96875 C 77.835938 48.066406 77.753906 48.148438 77.65625 48.148438 L 76.121094 48.148438 L 76.121094 48.921875 L 76.980469 48.921875 C 77.078125 48.921875 77.160156 49.003906 77.160156 49.101562 C 77.160156 49.199219 77.078125 49.28125 76.980469 49.28125 L 76.121094 49.28125 L 76.121094 50.074219 L 77.65625 50.074219 C 77.761719 50.074219 77.835938 50.160156 77.835938 50.257812 C 77.835938 50.351562 77.753906 50.4375 77.65625 50.4375 L 76.121094 50.4375 L 76.121094 51.207031 L 76.980469 51.207031 C 77.078125 51.207031 77.160156 51.289062 77.160156 51.386719 C 77.160156 51.484375 77.078125 51.566406 76.980469 51.566406 L 76.121094 51.566406 L 76.121094 52.347656 L 77.65625 52.347656 C 77.761719 52.347656 77.835938 52.429688 77.835938 52.527344 C 77.835938 52.625 77.753906 52.707031 77.65625 52.707031 L 76.121094 52.707031 L 76.121094 53.480469 L 76.980469 53.480469 C 77.078125 53.480469 77.160156 53.5625 77.160156 53.660156 C 77.160156 53.757812 77.078125 53.839844 76.980469 53.839844 L 76.121094 53.839844 L 76.121094 54.617188 L 77.65625 54.617188 C 77.761719 54.617188 77.835938 54.699219 77.835938 54.796875 C 77.835938 54.894531 77.753906 54.976562 77.65625 54.976562 L 76.121094 54.976562 L 76.121094 55.757812 L 76.980469 55.757812 C 77.078125 55.757812 77.160156 55.839844 77.160156 55.9375 C 77.160156 56.035156 77.078125 56.117188 76.980469 56.117188 L 76.121094 56.117188 L 76.121094 56.894531 L 77.65625 56.894531 C 77.761719 56.894531 77.835938 56.980469 77.835938 57.074219 C 77.835938 57.171875 77.753906 57.257812 77.65625 57.257812 L 76.121094 57.257812 L 76.121094 58.019531 L 76.980469 58.019531 C 77.078125 58.019531 77.160156 58.101562 77.160156 58.199219 C 77.160156 58.296875 77.078125 58.378906 76.980469 58.378906 L 76.121094 58.378906 L 76.121094 59.03125 L 70.941406 59.03125 L 70.941406 61.894531 L 71.082031 61.894531 L 71.082031 61.035156 C 71.082031 60.929688 71.167969 60.851562 71.265625 60.851562 C 71.359375 60.851562 71.445312 60.9375 71.445312 61.035156 L 71.445312 61.894531 L 72.222656 61.894531 L 72.222656 60.359375 C 72.222656 60.253906 72.304688 60.179688 72.402344 60.179688 C 72.5 60.179688 72.582031 60.261719 72.582031 60.359375 L 72.582031 61.894531 L 73.355469 61.894531 L 73.355469 61.035156 C 73.355469 60.929688 73.4375 60.851562 73.535156 60.851562 C 73.632812 60.851562 73.714844 60.9375 73.714844 61.035156 L 73.714844 61.894531 L 74.492188 61.894531 L 74.492188 60.359375 C 74.492188 60.253906 74.578125 60.179688 74.675781 60.179688 C 74.769531 60.179688 74.855469 60.261719 74.855469 60.359375 L 74.855469 61.894531 L 75.632812 61.894531 L 75.632812 61.035156 C 75.632812 60.929688 75.714844 60.851562 75.8125 60.851562 C 75.910156 60.851562 75.992188 60.9375 75.992188 61.035156 L 75.992188 61.894531 L 76.773438 61.894531 L 76.773438 60.359375 C 76.773438 60.253906 76.855469 60.179688 76.953125 60.179688 C 77.050781 60.179688 77.132812 60.261719 77.132812 60.359375 L 77.132812 61.894531 L 77.910156 61.894531 L 77.910156 61.035156 C 77.910156 60.929688 77.992188 60.851562 78.089844 60.851562 C 78.1875 60.851562 78.269531 60.9375 78.269531 61.035156 L 78.269531 61.894531 L 79.003906 61.894531 L 79.003906 40.207031 L 76.144531 42.09375 L 76.144531 42.132812 Z M 76.121094 42.132812 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#004aad" d="M 84.777344 46.605469 L 88.589844 46.605469 L 88.589844 50.421875 L 85.324219 50.421875 C 85.023438 50.421875 84.777344 50.179688 84.777344 49.875 Z M 89.132812 46.605469 L 89.132812 50.421875 L 92.398438 50.421875 C 92.699219 50.421875 92.945312 50.179688 92.945312 49.875 L 92.945312 46.605469 Z M 84.777344 42.792969 L 84.777344 46.058594 L 88.589844 46.058594 L 88.589844 42.242188 L 85.324219 42.242188 C 85.015625 42.25 84.777344 42.492188 84.777344 42.792969 Z M 92.398438 42.25 L 89.132812 42.25 L 89.132812 46.066406 L 92.945312 46.066406 L 92.945312 42.796875 C 92.945312 42.492188 92.707031 42.25 92.398438 42.25 Z M 92.398438 42.25 " fill-opacity="1" fill-rule="nonzero"/><path fill="#0a3c80" d="M 80.648438 60.539062 C 81.480469 61.324219 82.347656 62.089844 83.191406 62.871094 C 83.703125 63.359375 84.25 63.8125 84.75 64.3125 C 85.683594 63.820312 86.589844 63.273438 87.523438 62.789062 C 87.191406 61.972656 86.859375 61.152344 86.515625 60.335938 C 85.59375 58.042969 84.589844 55.773438 83.675781 53.472656 L 83.789062 53.621094 C 84.203125 54.359375 84.589844 55.113281 85.003906 55.851562 C 85.203125 56.1875 85.347656 56.550781 85.566406 56.867188 C 86.597656 56.878906 87.632812 56.871094 88.664062 56.871094 C 88.894531 56.136719 89.105469 55.398438 89.34375 54.667969 C 89.765625 55.167969 90.445312 55.367188 91.085938 55.308594 C 91.441406 55.28125 91.875 55.242188 92.097656 54.910156 C 92.257812 54.707031 92.226562 54.4375 92.203125 54.199219 C 92.183594 53.957031 92.261719 53.746094 92.347656 53.535156 C 92.578125 53.027344 92.835938 52.519531 92.929688 51.964844 C 93.121094 51.949219 93.308594 51.9375 93.492188 51.890625 C 93.589844 51.867188 93.660156 51.742188 93.609375 51.648438 C 93.464844 51.207031 93.078125 50.886719 92.96875 50.429688 C 92.925781 50.1875 93.019531 49.953125 93.074219 49.722656 C 93.15625 49.398438 93.144531 49.0625 93.140625 48.730469 C 93.335938 48.808594 93.523438 48.925781 93.730469 48.976562 C 95.222656 48.96875 96.714844 48.972656 98.207031 48.957031 C 96.910156 48.34375 95.625 47.699219 94.320312 47.09375 C 94.257812 46.777344 94.238281 46.453125 94.171875 46.140625 C 93.960938 44.996094 93.464844 43.894531 92.671875 43.039062 C 92.074219 42.394531 91.347656 41.890625 90.539062 41.554688 C 89.363281 41.082031 88.066406 41.007812 86.84375 41.335938 C 85.621094 41.660156 84.523438 42.429688 83.773438 43.445312 C 83.019531 44.457031 82.613281 45.804688 82.550781 47.101562 L 82.179688 47.144531 C 82.152344 47.433594 82.148438 47.722656 82.136719 48.011719 L 83.242188 48.492188 C 83.136719 49.296875 83.4375 50.074219 83.671875 50.828125 C 83.867188 51.46875 83.773438 52.140625 83.78125 52.800781 C 82.902344 53.070312 82.046875 53.472656 81.355469 54.097656 C 80.96875 54.441406 80.664062 54.863281 80.371094 55.28125 C 80.429688 55.605469 80.421875 55.933594 80.445312 56.261719 C 80.53125 57.6875 80.539062 59.117188 80.648438 60.539062 Z M 92.511719 43.394531 C 92.9375 43.9375 93.277344 44.5625 93.414062 45.246094 C 93.519531 45.800781 93.578125 46.359375 93.628906 46.914062 C 93.464844 46.875 93.300781 46.828125 93.128906 46.804688 C 93.054688 46.578125 93.09375 46.332031 93.066406 46.097656 C 92.960938 44.921875 92.675781 43.699219 91.890625 42.785156 C 92.144531 42.9375 92.328125 43.171875 92.511719 43.394531 Z M 83.425781 46.859375 C 84.109375 46.246094 84.925781 45.773438 85.816406 45.535156 C 87.328125 45.121094 88.992188 45.417969 90.316406 46.226562 C 89.203125 46.074219 88.078125 45.996094 86.949219 46.054688 C 85.742188 46.128906 84.550781 46.398438 83.425781 46.859375 Z M 83.425781 46.859375 " fill-opacity="1" fill-rule="nonzero"/><path fill="#0a3c80" d="M 89.503906 66.257812 C 90.519531 65.285156 91.574219 64.359375 92.609375 63.417969 C 92.785156 63.257812 92.945312 63.082031 93.148438 62.953125 C 92.820312 62.058594 92.496094 61.164062 92.144531 60.277344 C 91.6875 59.15625 91.304688 58.003906 90.808594 56.898438 C 90.6875 56.632812 90.542969 56.367188 90.320312 56.175781 C 90.035156 55.945312 89.761719 55.683594 89.402344 55.574219 C 89.257812 56.023438 89.113281 56.472656 88.972656 56.929688 C 89.148438 56.902344 89.328125 56.933594 89.507812 56.933594 C 89.5 60.042969 89.5 63.148438 89.503906 66.257812 Z M 89.503906 66.257812 " fill-opacity="1" fill-rule="nonzero"/><path fill="#0a3c80" d="M 94.65625 61.566406 C 94.582031 60.929688 94.746094 60.234375 94.414062 59.644531 C 94.207031 59.234375 93.824219 58.953125 93.421875 58.75 L 91.582031 57.832031 C 92.144531 59.511719 92.648438 61.214844 93.195312 62.894531 C 93.679688 62.453125 94.148438 61.988281 94.65625 61.566406 Z M 94.65625 61.566406 " fill-opacity="1" fill-rule="nonzero"/><path fill="#0a3c80" d="M 85.816406 57.347656 C 86.648438 59.21875 87.515625 61.078125 88.351562 62.949219 C 87.292969 63.515625 86.265625 64.140625 85.214844 64.714844 C 86.179688 65.636719 87.195312 66.503906 88.167969 67.417969 C 88.289062 67.382812 88.363281 67.273438 88.449219 67.1875 C 88.683594 66.945312 88.964844 66.738281 89.191406 66.492188 C 89.183594 63.441406 89.175781 60.394531 89.191406 57.34375 Z M 85.816406 57.347656 " fill-opacity="1" fill-rule="nonzero"/><g clip-path="url(#d024204ed8)"><path fill="#0a3c80" d="M 105.421875 62.113281 C 104.511719 61.273438 103.628906 60.40625 102.734375 59.550781 C 102.671875 59.480469 102.570312 59.429688 102.539062 59.339844 C 102.539062 57.78125 102.542969 56.222656 102.542969 54.660156 C 102.195312 55.160156 101.84375 55.65625 101.496094 56.148438 C 101.40625 56.261719 101.417969 56.40625 101.429688 56.539062 C 98.710938 59.019531 95.996094 61.503906 93.289062 63.984375 C 91.617188 65.511719 89.925781 67.007812 88.257812 68.542969 C 87.5 67.820312 86.707031 67.132812 85.945312 66.414062 C 85.078125 65.609375 84.1875 64.824219 83.324219 64.015625 C 81.566406 62.382812 79.789062 60.777344 78.019531 59.152344 C 77.136719 58.359375 76.28125 57.53125 75.382812 56.761719 C 75.320312 56.589844 75.394531 56.394531 75.320312 56.226562 C 74.953125 55.707031 74.59375 55.183594 74.234375 54.660156 C 74.25 56.226562 74.226562 57.789062 74.246094 59.355469 C 73.292969 60.269531 72.332031 61.179688 71.382812 62.101562 C 71.066406 61.964844 70.785156 61.753906 70.480469 61.601562 C 69.453125 61.035156 68.421875 60.464844 67.367188 59.9375 C 67.472656 60.054688 67.585938 60.164062 67.703125 60.265625 C 68.574219 61.03125 69.425781 61.816406 70.308594 62.566406 C 75.582031 67.078125 80.851562 71.59375 86.105469 76.121094 C 86.847656 76.746094 87.570312 77.398438 88.324219 78.003906 C 88.945312 77.4375 89.609375 76.921875 90.246094 76.371094 C 94.679688 72.636719 99.105469 68.890625 103.519531 65.140625 C 104.761719 64.074219 106.015625 63.03125 107.234375 61.945312 C 107.972656 61.28125 108.726562 60.636719 109.429688 59.933594 C 108.0625 60.601562 106.746094 61.367188 105.421875 62.113281 Z M 72.28125 62.839844 C 72.925781 62.207031 73.585938 61.582031 74.230469 60.945312 C 74.246094 62 74.21875 63.054688 74.238281 64.105469 C 73.570312 63.703125 72.949219 63.238281 72.28125 62.839844 Z M 75.53125 63.957031 C 75.519531 64.394531 75.550781 64.835938 75.515625 65.273438 L 75.355469 65.265625 C 75.34375 63.882812 75.378906 62.496094 75.359375 61.113281 C 76.355469 62.078125 77.394531 63 78.394531 63.960938 C 77.441406 63.953125 76.484375 63.949219 75.53125 63.957031 Z M 101.433594 65.273438 L 101.265625 65.265625 C 101.265625 64.828125 101.273438 64.390625 101.261719 63.953125 C 100.320312 63.96875 99.375 63.9375 98.429688 63.976562 C 99.410156 63 100.449219 62.078125 101.433594 61.113281 C 101.457031 62.496094 101.453125 63.886719 101.433594 65.273438 Z M 101.4375 59.648438 C 97.695312 63.027344 93.957031 66.410156 90.21875 69.796875 C 89.574219 70.386719 88.921875 70.960938 88.300781 71.570312 C 86.691406 70.046875 85.046875 68.570312 83.417969 67.070312 C 80.738281 64.601562 78.050781 62.136719 75.363281 59.679688 C 75.371094 59.082031 75.367188 58.484375 75.355469 57.886719 C 78.441406 60.730469 81.546875 63.558594 84.632812 66.398438 L 88.3125 69.765625 C 92.707031 65.792969 97.082031 61.808594 101.441406 57.800781 C 101.460938 58.417969 101.46875 59.035156 101.4375 59.648438 Z M 102.535156 64.128906 C 102.570312 63.066406 102.546875 62.003906 102.550781 60.941406 C 103.210938 61.570312 103.871094 62.195312 104.523438 62.832031 C 103.839844 63.21875 103.195312 63.691406 102.535156 64.128906 Z M 102.535156 64.128906 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#0a3c80" d="M 77.957031 58.0625 C 78.847656 58.882812 79.738281 59.71875 80.628906 60.539062 C 80.527344 60.335938 80.5625 60.101562 80.546875 59.882812 C 80.441406 58.425781 80.324219 56.96875 80.207031 55.511719 C 79.953125 55.878906 79.738281 56.277344 79.433594 56.601562 C 78.847656 56.964844 78.15625 57.261719 77.800781 57.890625 C 77.835938 57.964844 77.90625 58.007812 77.957031 58.0625 Z M 77.957031 58.0625 " fill-opacity="1" fill-rule="nonzero"/>
            </svg>
            <p class="text-md md:text-sm font-bold uppercase">3D General Services</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-gray-800 hover:text-gray-600 focus:outline-none focus:text-gray-800 md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden text-sm font-normal text-gray-800 md:pb-0 md:flex md:justify-end md:flex-row"
      >
        <a
          href="/#about-us"
          title="link to page"
          aria-label="your label"
          class="px-2 py-2 lg:px-6 md:px-3 hover:text-gray-600 lg:ml-auto"
          >About Us</a
        >
        <a
          href="/#services"
          title="link to page"
          aria-label="your label"
          class="px-2 py-2 lg:px-6 md:px-3 hover:text-gray-600">Services</a
        >
        <div
          @click.away="open = false"
          class="relative"
          x-data="{ open: false }"
        >
          
          <div
            x-show="open"
            style="display: none;"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="absolute right-0 z-50 mt-2 w-full origin-top-right rounded-xl bg-white ring-1 ring-gray-300 focus:outline-none p-[0.060rem]"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1 bg-white rounded-xl" role="none">
              <a
                href="/components/typography"
                title="link to page"
                aria-label="your label"
                role="menuitem"
                tabindex="-1"
                class="text-gray-800 block px-4 py-2 text-sm hover:text-gray-600"
              >
                Roofing
              </a>
              <a
                href="/components/colors"
                title="link to page"
                aria-label="your label"
                role="menuitem"
                tabindex="-1"
                class="text-gray-800 block px-4 py-2 text-sm hover:text-gray-600"
                >Painting</a
              >
            </div>
          </div>
        </div>
       <Button  
  href="tel:+5877006847" 
  icon='tabler:phone'   
  class="rounded-full px-8 bg-green-500 hover:bg-green-700 text-sm h-10 transition-all flex items-center justify-center  ring-1 ring-gray-700"
> 
Call
</Button>
        
       
      </nav>
    </div>
  </div>
</section>
